@import "compass"; // Import Compass: http://compass-style.org
@import "normalize"; // Reset: http://necolas.github.io/normalize.css/
* { // Switch to Border Box model: http://paulirish.com/2012/box-sizing-border-box-ftw/
  @include box-sizing(border-box);
}


@import "mixins"; // Import custom mixins
@import "variables"; // Set universal variables
@import "typography"; // Import fonts
@import "animations"; // Import Animation Definitions


// ----------------------------------------- Universal -------------------------------------------

html {
  background: #000;
  @include background-image (radial-gradient(ellipse at 70% 65%, #272f3C 0%, #212730 50%, #000 100%));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  @include perspective(600px);
  transform-style: preserve-3d;
}
a, a:link, a:visited {
  text-decoration: none;
}


// ----------------------------------------- On Page load ----------------------------------------

.breathing, 
.beingpresent, 
.mediating, 
.connecting, 
.hiding, 
.disconnecting, 
.looking, 
.feeling {
  display: none;
}


nav {
  opacity: 0;
  position: relative;
  @include transition (1s);
  a {
    @include transition  (1s);
    text-indent: -9999px;
    background: rgba(0,0,0,0.8);
    opacity: 1;
    @include border-radius (100px);   
    border: 10px solid #fff;
    height: 4vw;
    width: 4vw;   
    z-index: -100; 
  }
}
.nav-placeholder {
  opacity: 0;
  -webkit-transition: opacity 1s 0.6s;
  transition: 1s;
  display: block;
  z-index: 1;
  position: absolute;
  top: 1vw;
  left: 1vw;
  height: 40vw;
  width: 40vw;    
  background: rgba(0,0,0,0.5);
  @include border-radius (100px);
  border: 8px solid #fff;  
  @media (min-width: 10em) { 
    top: 1vw;
    right: 1vw;
    height: 20vw;
    width: 20vw;    
  } 
  @media (min-width: 20em) { 
    top: 1vw;
    right: 1vw;
    height: 10vw;
    width: 10vw;    
  } 
  @media (min-width: 30em) { 
    top: 1vw;
    right: 1vw;
    height: 7vw;
    width: 7vw;    
  } 
  @media (min-width: 40em) { 
    top: 1vw;
    right: 1vw;
    height: 4vw;
    width: 4vw;    
  } 
}

// ----------------------------------------- Navigation Reveal -----------------------------------

.nav-showing nav {
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  z-index: 500;
  margin-left: 21vw; // why isn't this 25vw? 100-50/2 = 25?
  a {
    display: block;
    height: 50vw;
    width: 50vw;   
    margin: 10px 0;
  }
  @media (min-width: 13em) { 
    margin-top: 5vh;
    margin-left: 7vw; // why isn't this 5vw ??!?!?! WTF?
    a {
      height: 35vw;
      width: 35vw;  
      float: left;
      margin: 10px 4vw;
    }
  }  
  @media (min-width: 23em) { 
    a {
      height: 20vw;
      width: 20vw;  
      float: left;
      margin: 10px 4vw;
    }
  }
  @media (min-width: 35em) { 
    top: 45vh;
    left: 25vw;
    width: 70vw;
    margin: 0;
    a {
      margin: 0;
      height: 10vw;
      width: 10vw;
    }
    a:nth-child(1) {
    }
    a:nth-child(2) {
      margin-top: -10vw;
      position: relative;
      top: -4vw;
      left: -4vw;
    }
    a:nth-child(3) {
      margin-left: 10vw;
      margin-top: -20vw;
    }
    a:nth-child(4) {
      margin-left: 20vw;
      margin-top: -10vw;
      position: relative;
      top: -4vw;
      right: -4vw;
    }
    a:nth-child(5) {
      margin-top: 10vw;
      position: relative;
      bottom: -4vw;
      left: -4vw;
    }
    a:nth-child(6) {
      margin-left: 0vw;
      margin-top: 20vw;
    }
    a:nth-child(7) {
      margin-top: 10vw;
      position: relative;
      bottom: -4vw;
      right: -4vw;
    }
    a:nth-child(8) {
    }
    a:nth-child(9) {
      margin-left: -30vw;
    }
  }
}

.nav-collapsed {
  nav a {
    position: absolute;
    top: 1vw;
    right: 1vw;
  }
  .nav-placeholder {
    opacity: 0.8;
  }
}

.start .home-link {
  display: none;
}

a.breathing-link {
  background: url('../images/airbubbles.jpg') center center no-repeat;    
}
a.beingpresent-link {
  background: url('../images/square/dogs.jpg') center center no-repeat;
}
a.mediating-link {
  background: url('../images/square/mountainlake.jpg') center center no-repeat;
}
a.connecting-link {
  
}
a.hiding-link {
  
}
a.disconnecting-link {
  
}
a.looking-link {
  background: url('../images/square/nebula.jpg') center center no-repeat;
}
a.feeling-link {

}
a.home-link {
  background: url('../images/square/sky.jpg') center center no-repeat;    
}


// ----------------------------------------- Make A Page -----------------------------------------

@mixin make-a-page {
  display: block;
  overflow: hidden;    
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  @include background-size (cover);
  padding: 0.5em;
  @media (min-width: 25em) { 
    padding: 1em 2em;
  }      
  @media (min-width: 40em) { 
    padding: 4em 8em;
  }      
}


// ----------------------------------------- Home ------------------------------------------------

.start {
  header.home {
    h1 {
      display: block;
      margin: 0;
      font-family: Georgia;
      font-style: italic;
      font-weight: normal;
      text-align: center;
      line-height: 20vh;
      a, a:link, a:visited, a:focus {
        color: rgba(255,255,255,0.9);
        @include text-shadow (0 0 16px rgba(0, 0, 0, 0.1));
      }
      font-size: 20vw;
      @media (min-width: 40em) { 
        font-size: 12vw;
      }      
    }  
    overflow: hidden;    
    background: #d8ecf3 url('../images/sky.jpg') center center;
    @include background-size (cover);
    min-height: 100vh;
    padding:  40vh 0;  
    h1 {
      -webkit-animation: 6000ms linear 0s normal none infinite breathe-bigger;
              animation: 6000ms linear 0s normal none infinite breathe-bigger;
    }
    @media (min-width: 40em) { 
      h1 {
        -webkit-animation: 6000ms linear 0s normal none infinite breathe;
                animation: 6000ms linear 0s normal none infinite breathe;
      }
    }      
  }
}
header.home { // This will only work when the .start class is removed, because it's lower in the cascade
  h1 {
    display: none;
  }
}
// ----------------------------------------- Breathing -------------------------------------------

.breathing-on {
  .breathing {
    @include make-a-page;
    background: #07a1d7 url('../images/airbubbles.jpg') center center no-repeat;
    @include background-size (cover);
    p {
      background: rgba(0, 4, 6, 0.55);
      font-size: 94%;
      line-height: 1.5em;
      margin: 0.5em 0;
      padding: 1em 1.2em;      
      color: #fff;
      text-indent: 0;
      @media (min-width: 40em) { 
        margin-right: 33%;
        padding: 1.4em 1.8em 1.3em;
        line-height: 1.75em;
      }
      opacity: 0;
      -webkit-animation-name: reveal;
      -webkit-animation-duration: 3s;
      -webkit-animation-timing-function: ease-in;
      -webkit-animation-fill-mode: forwards;
      animation-name: reveal;
      animation-duration: 3s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
    p:nth-child(1) {
      -webkit-animation-delay: 0; 
      animation-delay: 0; 
    }
    p:nth-child(2) { 
      -webkit-animation-delay: 4s; 
      animation-delay: 4s; 
    }
    p:nth-child(3) { 
      -webkit-animation-delay: 11s; 
      animation-delay: 11s; 
    }
    p:nth-child(4) { 
      -webkit-animation-delay: 19s; 
      animation-delay: 20s; 
    }
    p:nth-child(5) { 
      -webkit-animation-delay: 25s; 
      animation-delay: 30s; 
    }
  }
}


// ----------------------------------------- Being Present ---------------------------------------

.beingpresent-on {
  .beingpresent {
    @include make-a-page;
    background: #d3c9b9 url('../images/dogs.jpg') center center no-repeat;
        @include background-size (cover);

  }
}


// ----------------------------------------- Meditating ------------------------------------------

.mediating-on {
  .mediating {
    @include make-a-page;
    position: relative;
    background: #d8d8d8 url('../images/mountainlake.jpg') center center;
    color: #fff;
    @include text-shadow (0px 0px 8px rgba(0, 0, 0, 0.6));
    text-align: center;
    padding-top: 5vh;
    @media (min-width: 20em) { 
      padding-top: 10vh;
    }
    @media (min-width: 40em) { 
      padding-top: 20vh;
    }
    p {
      width: 89vw;
      font-size: 300%;
      font-family: $amatic;
      word-spacing: 0.12em;
      line-height: 1.6em;
      text-indent: 0;
      background: rgba(0, 0, 0, 0.4);
      display: block;
      position: absolute;
      top: 10vw;
      @media (min-width: 40em) { 
        width: 75%;
      }
      opacity: 0;
      -webkit-animation: comeandgo 75s linear infinite 0s;
      animation: comeandgo 75s linear infinite 0s;
      z-index: 100;
    } 
    p:nth-child(1) {
      opacity: 1;
      -webkit-animation-delay: 0; 
      animation-delay: 0; 
    }
    p:nth-child(2) { 
      -webkit-animation-delay: 15s; 
      animation-delay: 15s; 
    }
    p:nth-child(3) { 
      -webkit-animation-delay: 30s; 
      animation-delay: 30s; 
    }
    p:nth-child(4) { 
      -webkit-animation-delay: 45s; 
      animation-delay: 45s; 
    }
    p:nth-child(5) { 
      -webkit-animation-delay: 60s; 
      animation-delay: 60s; 
    }
  }
}

// Timer
// Pure CSS Pie Time by Hugo Giraudel http://codepen.io/HugoGiraudel/details/BHEwo
.timer {
  position: relative;
  margin: 20em auto 0;
  background: #d0d0d0;
  z-index: 100;
}  
@include timer('.timer', 15, 50px, #999, '0px solid rgba(0,0,0,0.5)');

// ----------------------------------------- Connecting ------------------------------------------

.connecting-on {
  .connecting {
    @include make-a-page;
    background: #82bbd5;
  }
}


// ----------------------------------------- Hiding ----------------------------------------------

.hiding-on {
  .hiding {
    @include make-a-page;
    background: #BCBC5E;
  }
}


// ----------------------------------------- Disconnecting ---------------------------------------

.disconnecting-on {
  .disconnecting {
    @include make-a-page;
    background: #B3B2DC;
  }
}


// ----------------------------------------- Looking ---------------------------------------------

.looking-on {
  .looking {
    @include make-a-page;
    background: #d8d8d8 url('../images/nebula.jpg') center center;
    @include background-size (cover);
    div {
      background: rgba(255,255,255,0.5);
    }
  }
}


// ----------------------------------------- Feeling ---------------------------------------------

.feeling-on {
  .feeling {
    @include make-a-page;
    background: green;
  }
}

