@import "compass"; // Import Compass: http://compass-style.org
@import "normalize"; // Reset: http://necolas.github.io/normalize.css/
* { // Switch to Border Box model: http://paulirish.com/2012/box-sizing-border-box-ftw/
  @include box-sizing(border-box);
}

@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre);

@import "mixins"; // Import custom mixins
@import "variables"; // Set universal variables
@import "typography"; // Import fonts
@import "animations"; // Import Animation Definitions


// ----------------------------------------- Universal -------------------------------------------

html {
  background: #000;
  @include background-image (radial-gradient(ellipse at 70% 65%, #272f3C 0%, #212730 50%, #000 100%));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  @include perspective(600px);
  transform-style: preserve-3d;
}
a, a:link, a:visited {
  text-decoration: none;
}
dl {
  margin: 0;
}

// ----------------------------------------- On Page load ----------------------------------------

.breathing, 
.beingpresent, 
.meditating, 
.connecting, 
.hiding, 
.disconnecting, 
.looking, 
.feeling,
.animating {
  display: none;
}

.skip-link {
  @include element-focusable;
}

// ----------------------------------------- Navigation ------------------------------------------

@mixin nav-circle {
  text-indent: -9999px;
  background: rgba(0,0,0,0.8);
  @include border-radius (100px);   
  @include box-shadow (0 0 10px rgba(0, 0, 0, 0.2));
  opacity: 1;
  height: 40vw;
  width: 40vw;  
  @media (min-width: 10em) { 
    height: 33vw;
    width: 33vw;  
  }  
  @media (min-width: 15em) { 
    height: 20vw;
    width: 20vw;  
  }  
  @media (min-width: 30em) { 
//    height: 20vw;
//    width: 20vw;  
  }
  @media (min-width: 40em) { 
      height: 15vw;
      width: 15vw;
  }
  @media (min-width: 50em) { 
      height: 10vw;
      width: 10vw;
  }
  @media (min-width: 75em) { 
      height: 8vw;
      width: 8vw;
  }
  @media (min-width: 100em) { 
      height: 100px;
      width: 100px;
  }
}

nav[role="navigation"] {
  position: relative;
  z-index: 100;
  a {
    display: block;
    position: absolute;
    top: 1vw;
    left: 1vw;
    @include nav-circle;
    transition: transform 300ms ease-out;
  }
  a.breathing-link {
    background: url('../images/square/nietnagel-trees.jpg') center center no-repeat;    
  }
  a.beingpresent-link {
    background: url('../images/square/nietnagel-marsh.jpg') center center no-repeat;
  }
  a.meditating-link {
    background: url('../images/square/nietnagel-snow.jpg') center center no-repeat;
  }
  a.disconnecting-link {
    background: url('../images/square/nietnagel-mountain.jpg') center center no-repeat;
  }
  a.looking-link {
    background: url('../images/square/nietnagel-fall.jpg') center center no-repeat;
  }
  a.animating-link {
    background: url('../images/square/nietnagel-woods.jpg') center center no-repeat;    
  }
}

.nav-placeholder {
  display: block;
  z-index: 101;
  position: absolute;
  top: 1vw;
  left: 1vw;
  @include nav-circle;
  background: rgba(255,255,255,0.2);
}
.nav-showing .nav-placeholder {
  z-index: 99;
}

.nav-showing {
  nav[role="navigation"] {
    a:nth-child(1) {
      transform: translate(0vw, 0vh);
      -webkit-transform: translate(0, 0);
    }
    a:nth-child(2) {
      transform: translate(31vw, 5vh);
      -webkit-transform: translate(80px, 60px);
    }
    a:nth-child(3) {
      transform: translate(66vw, 0vh);
      -webkit-transform: translate(35px, 125px);
    }
    a:nth-child(4) {
      transform: translate(11vw, 16vh);
      -webkit-transform: translate(150px, 100px);
    }
    a:nth-child(5) {
      transform: translate(55vw, 14vh);
      -webkit-transform: translate(210px, 40px);
    }
    a:nth-child(6) {
      transform: translate(38vw, 27vh);
      -webkit-transform: translate(240px, 115px);
    }    
    
    @media (min-width: 30em) { 
      a:nth-child(1) {
        transform: translate(0, 0);
      }
      a:nth-child(2) {
        transform: translate(26vw, 5vh);
        -webkit-transform: translate(100px, 100px);
      }
      a:nth-child(3) {
        transform: translate(24vw, 40vh);
        -webkit-transform: translate(50px, 150px);
      }
      a:nth-child(4) {
        transform: translate(12vw, 22vh);
        -webkit-transform: translate(150px, 100px);
      }
      a:nth-child(5) {
        transform: translate(1vw, 45vh);
        -webkit-transform: translate(220px, 40px);
      }
      a:nth-child(6) {
        transform: translate(15vw, 65vh);
        -webkit-transform: translate(200px, 180px);
      }
    }  
    
    @media (min-width: 40em) { 


    }
    @media (min-width: 50em) { 


    }
  }
}

@keyframes hide {
  0% { opacity: 1 }
  50% { opacity: 1 }
  100% { opacity: 0.1 }
}
.nav-collapsed {
  nav[role="navigation"] a {
    -webkit-animation-name: hide;
    -webkit-animation-duration: 20ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 280ms; 
    
    animation-name: hide;
    animation-duration: 20ms;
    animation-fill-mode: forwards;
    animation-delay: 280ms; 
  }
}

.breathing-on .breathing-link,
.beingpresent-on .beingpresent-link,
.meditating-on .meditating-link,
.disconnecting-on .disconnecting-link,
.looking-on .looking-link,
.animating-on .animating-link {
//  display: none;
}



// ----------------------------------------- Universal Definitions -------------------------------

@mixin make-a-page {
  display: block;
  overflow: hidden;    
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  @include background-size (cover);
}


// ----------------------------------------- Animating -------------------------------------------

.animating-on {
  .animating {
    @include make-a-page;
    padding: 0;
    @media (min-width: 25em) { // redundantly overriding something from above
      padding: 0;
    }
    background: #356019 url('../images/nietnagel-woods.jpg') center center;
    @include background-size (cover);
    color: #fff;
    a, a:link, a:visited, a:focus {
      color: #fff;
    }
    dl {
      position: relative;
      @include clearfix;
      background: rgba( 0,0,0,0.5);
      padding: 1.2em 2em 1.2em 1.1em;
      height: 50vh;
      margin-top: 50vh;
      @media (min-width: 30em) { 
        float: right;
        width: 50vw;
        height: 100vh;
        margin: 0;
      }      
    }
    dt {
      font-size: 10vw;
      line-height: 0.7em;
      small {
        display: block;
        font-size: 33%;
        margin-left: 1em;
      }
      @media (min-width: 30em) { 
        font-size: 10vw;
        line-height: 0.7em;
        margin-top: 7vh;
        small {
          display: block;
          font-size: 33%;
          margin-left: 1em;
        }      
      }
    }
    dd {
      position: absolute;
      top: 0;
      margin: 15vh 1.6em 3.6em 0.8em;
      @media (min-width: 30em) { 
        margin: 50vh 2em 0 0;
      }
      @media (min-width: 35em) { 
        font-size: 1.8em;
        line-height: 1.2em;
      }
      opacity: 0;
      -webkit-animation-name: crossfade;
      -webkit-animation-duration: 66s;
      -webkit-animation-timing-function: ease-in;
      -webkit-animation-fill-mode: normal;
      animation-name: crossfade;
      animation-duration: 66s;
      animation-timing-function: ease-in;
      animation-fill-mode: normal;
      &:nth-child(2) {
        -webkit-animation-delay: 0; 
        animation-delay: 0; 
      }
      &:nth-child(3) { 
        -webkit-animation-delay: 6s; 
        animation-delay: 6s; 
      }
      &:nth-child(4) { 
        -webkit-animation-delay: 12s; 
        animation-delay: 12s; 
      }
      &:nth-child(5) { 
        -webkit-animation-delay: 18s; 
        animation-delay: 18s; 
      }
      &:nth-child(6) { 
        -webkit-animation-delay: 24s; 
        animation-delay: 24s; 
      }
      &:nth-child(7) {
        -webkit-animation-delay: 30s; 
        animation-delay: 30s; 
      }
      &:nth-child(8) { 
        -webkit-animation-delay: 36s; 
        animation-delay: 36s; 
      }
      &:nth-child(9) { 
        -webkit-animation-delay: 42s; 
        animation-delay: 42s; 
      }
      &:nth-child(10) { 
        -webkit-animation-delay: 48s; 
        animation-delay: 48s; 
      }
      &:nth-child(11) { 
        -webkit-animation-delay: 54s; 
        animation-delay: 54s; 
      }
      &:nth-child(12) { 
        -webkit-animation-delay: 60s; 
        animation-delay: 60s; 
      }
      &:nth-child(13) { 
        -webkit-animation-delay: 33s; 
        animation-delay: 33s; 
      }
      &:nth-child(14) { 
        -webkit-animation-delay: 36s; 
        animation-delay: 36s; 
      }
    }
  }  
}

// ----------------------------------------- Breathing -------------------------------------------

.breathing-on {
  .breathing {
    @include make-a-page;
    padding: 0.5em;
    @media (min-width: 25em) { 
      padding: 1em 2em;
    }      
    @media (min-width: 40em) { 
      padding: 4em 8em;
    }      
    background: #07a1d7 url('../images/nietnagel-trees.jpg') center center no-repeat;
    @include background-size (cover);
    p {
      background: rgba(0, 4, 6, 0.55);
      font-size: 94%;
      line-height: 1.5em;
      margin: 0.5em 0;
      padding: 1em 1.2em;      
      color: #fff;
      text-indent: 0;
      @media (min-width: 40em) { 
        margin-right: 33%;
        padding: 1.4em 1.8em 1.3em;
        line-height: 1.75em;
      }
      opacity: 0;
      -webkit-animation-name: reveal;
      -webkit-animation-duration: 3s;
      -webkit-animation-timing-function: ease-in;
      -webkit-animation-fill-mode: forwards;
      animation-name: reveal;
      animation-duration: 3s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
    p:nth-child(1) {
      -webkit-animation-delay: 0; 
      animation-delay: 0; 
    }
    p:nth-child(2) { 
      -webkit-animation-delay: 4s; 
      animation-delay: 4s; 
    }
    p:nth-child(3) { 
      -webkit-animation-delay: 11s; 
      animation-delay: 11s; 
    }
    p:nth-child(4) { 
      -webkit-animation-delay: 19s; 
      animation-delay: 20s; 
    }
    p:nth-child(5) { 
      -webkit-animation-delay: 25s; 
      animation-delay: 30s; 
    }
  }
}


// ----------------------------------------- Being Present ---------------------------------------

.beingpresent-on {
  .beingpresent {
    @include make-a-page;
    background: #2f2e2b;
    display: block;
    padding: 0;
    figure {
      height: 100vh;
      width: 100vw;
    }
    .card {
      float: left;
      width: 25vw;
      height: 33.33333vh;
      @include perspective(600px);
      position: relative;

    }
    .front {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
      @include box-shadow (0 1px 5px rgba(0,0,0,0.9));
      @include transform (rotateY(0deg));
      @include transform-style (preserve-3d);
      @include transition (all .4s ease-in-out);
    }
    h1 {
      position: absolute;      
      top: 1vh;
      left: 2vw;
      font-size: 5vw;
    }
    .back {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(75, 70, 58, 0.75);
      color: #fff;
      @include transform (rotateY(180deg));
    	-webkit-backface-visibility: hidden; // don't write this using compass syntax
    	   -moz-backface-visibility: hidden; // it doesn't work
    	    -ms-backface-visibility: hidden;
    	     -o-backface-visibility: hidden;
    	        backface-visibility: hidden;  
      @include transition (all .4s ease-in-out);
    }

    .flip {
      .front {
        @include transform (rotateY(-180deg));
      }
      .back {
        @include transform (rotateY(0deg));
      }
    }

  }
}





// ----------------------------------------- Meditating ------------------------------------------

.meditating-on {
  .meditating {
    @include make-a-page;
    padding: 0.5em;
    @media (min-width: 25em) { 
      padding: 1em 2em;
    }      
    @media (min-width: 40em) { 
      padding: 4em 8em;
    }      
    background: url('../images/nietnagel-snow.jpg') no-repeat fixed center center / cover #d8d8d8;
    color: #fff;
    @include text-shadow (0px 0px 8px rgba(0, 0, 0, 0.6));
    text-align: center;
    padding-top: 5vh; 
    @media (min-width: 20em) { 
      padding-top: 10vh;
    }
    @media (min-width: 40em) { 
      padding-top: 20vh;
    }
    p {
      width: 89vw;
      text-indent: 0;
      background: rgba(0, 0, 0, 0.4);
      display: block;
      position: absolute;
      top: 10vw;
      @media (min-width: 40em) { 
        width: 75%;
      }
      opacity: 0;
      -webkit-animation: comeandgo 75s linear infinite 0s;
      animation: comeandgo 75s linear infinite 0s;
      z-index: 100;
    } 
    p:nth-child(1) {
      opacity: 1;
      -webkit-animation-delay: 0; 
      animation-delay: 0; 
    }
    p:nth-child(2) { 
      -webkit-animation-delay: 15s; 
      animation-delay: 15s; 
    }
    p:nth-child(3) { 
      -webkit-animation-delay: 30s; 
      animation-delay: 30s; 
    }
    p:nth-child(4) { 
      -webkit-animation-delay: 45s; 
      animation-delay: 45s; 
    }
    p:nth-child(5) { 
      -webkit-animation-delay: 60s; 
      animation-delay: 60s; 
    } 
  }
}


// ----------------------------------------- Disconnecting ---------------------------------------

.disconnecting-on {
  .disconnecting {
    padding: 0 2em 0 33vw;
    @include make-a-page;
    background: url('../images/nietnagel-mountain.jpg') no-repeat fixed center center / cover #edebff;
    color: #fff;
  }
}


// ----------------------------------------- Looking ---------------------------------------------

.looking-on {
  .looking {
    @include make-a-page;
    padding: 0 0 0 33vw;
    background: url('../images/nietnagel-fall.jpg') no-repeat center center / cover #e39102;
  }
}




